<!DOCTYPE html>
<%var pageData = {
    id:'index',
    title:'パーツ',
    description:'',
    keywords:''
};%>
<%- include('./Layout/_head', {data:pageData}) %>

<body id="app">
    <!-- ////////// PageContents ////////// -->
    <div class="container">
        <div class="spinner"></div>
    </div>

    <div class="container">
        <div class="card">
            <h1 class="title-logo"><img src="<%= config.root %>img/logo.svg" alt="givelog plus"></h1>
            <div class="user center">
                <div class="form-group email">
                    <span>メールアドレス</span>
                    <input type="email" name="email" class="form-control form-control-user" placeholder="メールアドレス" id="email">
                </div>
                <div class="form-group password">
                    <span>パスワード</span>
                    <input type="password" name="password" class="form-control form-control-user mb-4" placeholder="パスワード" id="password">
                </div>
                <a href="<%= config.path %>forget-password" class="link-text small bold forget">パスワードを忘れた方はこちら</a>
                <button class="btn btn-primary btn-user btn-block" id="login" type="submit">ログイン</button>

                <p class="text-message small">or Login using social media</p>
                <button class="btn btn-google btn-user btn-block" id="login" type="submit"><img src="<%= config.root %>img/icon_google.svg" alt="">Login with Google</button>
            </div>
            <hr class="dot_line">
            <a href="#" class="btn btn-info btn-user btn-block">アカウント新規作成</a>
        </div>
    </div>

    <div class="container">
        <div class="card white">
            <h1>フォーム</h1>
            <p class="text-small">すべて入力して新規作成ボタンを押してください。すぐに利用開始できます。</p>
            <div class="user center">
                <div class="form-group email">
                    <span>メールアドレス</span>
                    <input type="email" name="email" class="form-control form-control-user" placeholder="メールアドレス" id="email">
                </div>
                <div class="form-group password">
                    <span>パスワード</span>
                    <input type="password" name="password" class="form-control form-control-user mb-4" placeholder="パスワード" id="password">
                </div>
                <button class="btn btn-primary btn-user btn-block" id="login" type="submit">新規作成</button>
            </div>
            <hr class="dot_line">
            <a href="<%= config.path %>" class="link-text bold fas fa-angle-left back">もどる</a>
        </div>
    </div>

    <div class="container">
        <div class="card end white">
            <h1>フォーム</h1>
            <p class="text-small">すべて入力して新規作成ボタンを押してください。すぐに利用開始できます。</p>
            <div class="badge-checkbox container-box">
                <span style="background-color: #E91E63;">
                    <input type="checkbox" name="cbox01-01" value="家族" id="cbox01-01">
                    <label for="cbox01-01">家族</label>
                </span>
                <span style="background-color: #2196F3">
                    <input type="checkbox" name="cbox01-02" value="親戚" id="cbox01-02">
                    <label for="cbox01-02">親戚</label>
                </span>
                <span style="background-color: #4CAF50">
                    <input type="checkbox" name="cbox01-03" value="友達" id="cbox01-03">
                    <label for="cbox01-03">友達</label>
                </span>
                <span style="background-color: #FF9800">
                    <input type="checkbox" name="cbox01-04" value="仕事" id="cbox01-04">
                    <label for="cbox01-04">仕事</label>
                </span>
            </div>

            <hr class="dot_line">
            <a href="<%= config.path %>" class="link-text bold fas fa-angle-left back">もどる</a>
        </div>
    </div>

    <!-- ////////// END PageContents ////////// -->
    <%- include('./Layout/_script',{data:pageData});%>
</body>

</html>