<!DOCTYPE html>
<%var pageData = {
    id:'index',
    title:'パーツ',
    description:'',
    keywords:''
};%>
<%- include('./Layout/_head', {data:pageData}) %>

<body id="profile">
    <!-- ////////// PageContents ////////// -->
    <header id="menuList">
    <vue-menu></vue-menu>
    <section>
        <a href="<%= config.path %>before_login.html">
            <h1><img src="<%= config.root %>img/logo_w.svg" alt="givelog plus"></h1>
        </a>
    </section>
    </header>


    <main>
        <div class="profile" style="color: #11b1dc;">
            <h1 class="name">山田 太郎 くん<a href="#" class="fas fa-edit"></a></h1>
            <span class="badge badge-pill">友達</span>
        </div>
        <div class="memo">
        <p>兄の長男（甥っ子）</p>
        <p>2010/3/12 生まれ<br>
        車が好き、ミニカーを集めているのでプレゼントすると喜ぶ</p>
        </div>
        <div class="container" id="toggleList">
            <vue-accordion class="list-presents" date="2019/01/01-12/31">
                <div slot="body">
                    <dl class="card-gift give">
                        <dt><a href="#">自分</a>から<a href="#">お母さん</a>に</dt>
                        <dd class="item-area">
                            <a href="<%= config.path %>">
                                <span class="date" style="color:#00BCD4">00/00</span>
                                <figure style="background-color:#00BCD4">
                                    <img src="<%= config.root %>img/icon_present.png" alt="">
                                </figure>
                            </a>
                        </dd>
                        <dd class="text-area">
                            <p class="text-small">カーネーションの花束と抹茶ロールケーキカーネーションの花束と抹茶ロールケーキカーネーションの花束と抹茶ロールケーキキ</p>
                        </dd>
                        <dd class="badge-area">
                            <span class="badge badge-pill" style="background-color:#4CAF50">友達</span>
                            <span class="badge badge-pill" style="background-color:#00BCD4">クリスマス</span>
                        </dd>
                    </dl>
                    <dl class="card-gift take">
                        <dt><a href="#">自分</a>から<a href="#">お母さん</a>に</dt>
                        <dd class="item-area">
                            <a href="#">
                                <span class="date" style="color:#2196F3">00/00</span>
                                <figure style="background-color:#2196F3">
                                    <img src="<%= config.root %>img/icon_present.png" alt="">
                                </figure>
                            </a>
                        </dd>
                        <dd class="text-area">
                            <p class="text-small">カーネーションの花束と抹茶ロールケーキ</p>
                        </dd>
                        <dd class="badge-area">
                            <span class="badge badge-pill" style="background-color:#E91E63">家族</span>
                            <span class="badge badge-pill" style="background-color:#2196F3">父の日</span>
                        </dd>
                    </dl>
                    <dl class="card-gift take">
                        <dt><a href="#">自分</a>から<a href="#">お母さん</a>に</dt>
                        <dd class="item-area">
                            <a href="#">
                                <span class="date" style="color:#F44336">00/00</span>
                                <figure style="background-color:#F44336">
                                    <img src="<%= config.root %>img/icon_present.png" alt="">
                                </figure>
                            </a>
                        </dd>
                        <dd class="text-area">
                            <p class="text-small">カーネーションの花束と抹茶ロールケーキ</p>
                        </dd>
                        <dd class="badge-area">
                            <span class="badge badge-pill" style="background-color:#FF9800">会社</span>
                            <span class="badge badge-pill" style="background-color:#F44336">誕生日</span>
                        </dd>
                    </dl>
                </div>
            </vue-accordion>
            <vue-accordion class="list-presents" date="2019/01/01-12/31">
                <div slot="body">
                    <dl class="card-gift give">
                        <dt><a href="#">自分</a>から<a href="#">お母さん</a>に</dt>
                        <dd class="item-area">
                            <a href="<%= config.path %>">
                                <span class="date" style="color:#00BCD4">00/00</span>
                                <figure style="background-color:#00BCD4">
                                    <img src="<%= config.root %>img/icon_present.png" alt="">
                                </figure>
                            </a>
                        </dd>
                        <dd class="text-area">
                            <p class="text-small">カーネーションの花束と抹茶ロールケーキ</p>
                        </dd>
                        <dd class="badge-area">
                            <span class="badge badge-pill" style="background-color:#4CAF50">友達</span>
                            <span class="badge badge-pill" style="background-color:#00BCD4">クリスマス</span>
                        </dd>
                    </dl>
                </div>
            </vue-accordion>
        </div>
    </main>

    <!-- ////////// END PageContents ////////// -->
    <%- include('./Layout/_script',{data:pageData});%>
</body>

</html>