<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= config.header[0].title %> | <%= data.title %></title>
    <meta name="description" content="<%= data.description %>">
    <meta name="keywords" content="<%= data.keywords %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="<%= config.header[4].root %>css/reset.css">
    <link rel="stylesheet" href="<%= config.header[4].root %>css/common.css">
</head>